.Chatlist{
    display:flex;
    flex-direction:column;
    gap:20px;
    .item{
        height:600px;
        padding-top:15px;
        overflow-y: scroll;
        scrollbar-width:none;

    }
    .users{
        cursor:pointer;
        flex:1;
        .message{
            display:flex;
            flex-direction: column;
            gap:5px;
            p{
                font-size: 12px;
            }
        }
        img{
            height:50px;
            width:50px;
            border-radius:50px;
        }
        border-top:transparent;
        border-bottom:1px solid #dddddd35;
        display:flex;
        gap:15px;
        align-items: center;
        padding:10px;
    }
}
.search{
    display: flex;
    padding:0px 18px 0px 18px;
    gap:10px;
    align-items: center;
    .searchBar{
        flex:1;
        padding:10px;
        display: flex;
        align-items: center;
        gap:8px;
        border-radius:50px;
        background-color: rgba(17,25,40,0.5);
        img{
            height:20px;
            width:20px;
        }
        input{
            background: transparent;
            outline:none;
            border:none;
            flex:1;
            color:white;
        }
    }
    .Add-users{
        cursor: pointer;
        height:40px;
        width:40px;
        background-color: rgba(17,25,40,0.5);
        padding:10px;
        border-radius: 20px;
    }
}